</body>
<footer>
	<a href="http://www.facebook.com"><img src="http://res.cloudinary.com/dmjtck2cd/image/upload/v1456330610/destinations/social2.png"></a>
	<a href="http://www.instagram.com"><img src="http://res.cloudinary.com/dmjtck2cd/image/upload/v1456330609/destinations/social1.png"></a>
	<a href="http://www.twitter.com"><img src="http://res.cloudinary.com/dmjtck2cd/image/upload/v1456330610/destinations/social4.png"></a>
	<a href="https://plus.google.com"><img src="http://res.cloudinary.com/dmjtck2cd/image/upload/v1456330610/destinations/social3.png"></a>
</footer>
</html>