<body>
	<!-- nav bar -->
	<ul id="nav">
		<li><a href="/" class="navLi"><img id="logoImg" src="/images/logoBlack.png"></a></li>
		<li><a href="/users" class="navLi">TRAVELERS</a></li>
		<li><a href="/trips" class="navLi">TRIPS</a></li>
		<li><a href="/users/<%= users.id %>" class="navLi">PROFILE</a></li>
		<li><a href="/users/logout" class="navLi">LOGOUT</a></li>
	</ul>
	<!-- END nav bar -->