<html>
<head>
	<title>MAIN / LOGIN / SIGNUP</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- nav bar -->
	<div id="logoHead">
		<img src="/images/logo.png">
		<h1>WANDERSHARE</h1>
	</div>

	<!-- buttons for login or signup -->
	<div id="buttonDiv">
		<button>LOGIN</button>
		<button>SIGN UP</button>
	</div>

	<!-- buttons for logout or back to profile -->
	<div id="logoutDiv">
		<button>LOG OUT</button>
		<button>PROFILE</button>
	</div>
	<!-- if login == true, then only show logout link. -->
	<!-- if login == false, then show sign up and log in forms -->
	<% if (login) { %>
		<a href="/users/logout">Logout</a>

	<% } else { %>	
		<div id="signup">
			<form action="/users" method="POST">
				<input type="text" name="username" placeholder="USERNAME"></br></br>
				<input type="text" name="email" placeholder="EMAIL"></br></br>
				<input type="text" name="password" placeholder="PASSWORD"></br></br>
				<input type="submit" value="SIGN UP">
			</form>
		</div>
		</br></br>


		<div id="login">
			<form action="/users/login" method="POST">
				<input type="text" name="email" placeholder="EMAIL"></br></br>
				<input type="text" name="password" placeholder="PASSWORD"></br></br>
				<input type="submit">
			</form>
		</div>
	<% } %>


</body>
</html>