<html>
<head>
	<title>WANDERSHARE</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="js/welcomeIndex.js"></script>
</head>
<body>
	<!-- nav bar -->
	<div id="logoHead">
		<img src="/images/logo.png">
		<h1>WANDERSHARE</h1>
	</div>

	<!-- buttons for login or signup -->
	<div id="buttonDiv">
		<button id="loginButton">LOGIN</button>
		<button id="signupButton">SIGN UP</button>
	</div>

	
	<!-- if login == true, then only show logout link. -->
	<!-- if login == false, then show sign up and log in forms -->
	<% if (login) { %>
		<!-- buttons for logout or back to profile if logged in-->
		<div id="logoutDiv">
			<button>LOG OUT</button>
			<button>PROFILE</button>
		</div>

	<% } else { %>	
		<div id="signup">
			<form action="/users" method="POST">
				<input type="text" name="username" placeholder="USERNAME"></br></br>
				<input type="text" name="email" placeholder="EMAIL"></br></br>
				<input type="text" name="password" placeholder="PASSWORD"></br></br>
				<input type="submit" value="SIGN UP">
			</form>
		</div>
		</br></br>


		<div id="login">
			<form action="/users/login" method="POST">
				<input type="text" name="email" placeholder="EMAIL"></br></br>
				<input type="text" name="password" placeholder="PASSWORD"></br></br>
				<input type="submit">
			</form>
		</div>
		
	<% } %>


</body>
</html>