
.icon-anchor:before { content: '\e800'; } /* '' */
.icon-hourglass:before { content: '\e801'; } /* '' */
.icon-snow-heavy:before { content: '\e802'; } /* '' */
.icon-aperture-alt:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-photo:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-star-empty:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */