* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: black;
	background-color: #f9f9f9;
}

ul {
	list-style: none;
}

#nav {
	width: 100%;
	text-align: center;
	padding: 0.7em 0 1.7em 0;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: white;
	opacity: 0.8;
}

#nav > li {
	display: inline-block;
	width: 19%;
	padding: 0.35em 0 0.35em 0;
	font-size: 12px;
	font-weight: bold;
}



.navLi {
	text-decoration: none;
	color: black;
}

.navLi:visited {
    color: black;
}

a {
	text-decoration: none;
}


a:hover {
    text-shadow: 0 0 0.1em darkgrey;
}

h1 {
	text-align: center;
	margin-bottom: 1em;
}

#contentContainer {
	margin-top: 7.5em;
	width: 100%;
	text-align: center;
}


.flip-container {
	width: 100%;
	height: 18em;
    perspective: 800px;
    position: relative;
    z-index: 1;
    padding: 1em;
}

.flipper {
	text-align:center;
	position: absolute;
	width: 100%;
	transform-style: preserve-3d;
  	transition: all 1.0s linear;
}

.flipper:hover .front{
  	transform: rotateY(-180deg);
}

.flipper:hover .back {
 	transform: rotateY(0deg);
}

.front, .back {
	position: absolute;
    width: 30%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 1s;
}

.front {
	background: #000;
	transform: rotateY(0deg);
}

.back {
	display: block;
    box-sizing: border-box;
    padding: 1em;
    color: white;
    text-align: center;
    background-color: #ffffff;
    transform: rotateY(180deg);
    padding-bottom: 7em;
    border: black solid 0.5px;
}

.userImg {
	width: 95%;
	border: 0.5px solid black;
}


footer {
	width: 100%;
	margin: 10em 0 3em 0;
	text-align: center;
}

footer > a > img {
	width: 8%;
	padding: 0 1em 0 1em;
}

@media (min-width: 500px) {  /* <----------------------- MIN-WIDTH 500px */


footer > a > img {
	width: 40px;
	padding: 0 1em 0 1em;
}



}

























