* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: black;
	background-color: #f9f9f9;
}

ul {
	list-style: none;
}

#nav {
	width: 100%;
	text-align: center;
	padding: 0.7em 0 1.7em 0;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: white;
	opacity: 0.8;
}

#nav > li {
	display: inline-block;
	width: 19%;
	padding: 0.35em 0 0.35em 0;
	font-size: 12px;
	font-weight: bold;
}



.navLi {
	text-decoration: none;
	color: black;
}

.navLi:visited {
    color: black;
}


a:hover {
    text-shadow: 0 0 0.1em darkgrey;
}


#profileContainer {
	width: 100%;
	/*border: solid 1px black;*/
	text-align: center;
	position: relative;
	margin-top: 7em;
	z-index: 0;
}

#profileImg > img {
	width: 40%;
	border: solid 0.5px black;
	margin-bottom: 1em;
}

#map-Container {
	width: 100%;
	margin-top: 1em;
	text-align: center;
	display: inline-block;
	/*border: solid 1px black;*/
	padding: 1em 0 2em 0;
}


#userMap {
	height: 300px;
	width: 85%;
	display: inline-block;
	border: solid 0.5px black;
}

.tripLi {
	color: black;
	text-decoration: none;
}

#tripUl > li {
	margin: 0 0 1em 0;
}


form {
	width: 100%;
	text-align: center;
	margin: 1em 0 1.5em 0;
}

input[type="submit"] {
	width: 30%;
	color: black;
	font-weight: bold;
	padding: 1em 0 1em 0;
	background: transparent;
	border: 4px black solid;
	border-radius: 3%;
}


input[type="submit"]:hover {
	background-color: #444444;
	color: white;
	box-shadow: 0 0 0.25em rgba(204, 204, 204, 0.9);
}


h3 {
	text-align: center;
	margin-bottom: 1em;
	font-weight: 900;
}


#tripContainer {
	width: 100%;
	/*border: solid 1px black;*/
	padding: 1.5em 0 1.5em 0;
	margin: 0 0 2em 0;
	background-color: white;
}

#tripUl {
	padding: 0 10% 0 10%;
}


footer {
	width: 100%;
	margin: 10em 0 3em 0;
	text-align: center;
}

footer > a > img {
	width: 8%;
	padding: 0 1em 0 1em;
}


@media (min-width: 500px) {  /* <----------------------- MIN-WIDTH 500px */


#profileImg > img {
	width: 200px;
}


footer > a > img {
	width: 40px;
	padding: 0 1em 0 1em;
}



}

@media (min-width: 550px) { /* <----------------------- MIN-WIDTH 550px */

#userMap {
	width: 450px;
	height: 350px;
}

}


@media (min-width: 700px) { /* <----------------------- MIN-WIDTH 700px */

#profileContainer {
	width: 29%;
	/*border: solid 1px black;*/
	float: left;
	padding-left: 2%;
	margin-top: 9em;
}

#map-Container {
	width: 65%;
	text-align: center;
	padding-top: 8em;
	display: inline-flex;
	padding: 6em 0 2em 3%;
}

#buttonHolder {
	text-align: center;
}

form {
	width: 50%;
	display: inline;
	margin: 0 1em 0 1em;
}

input[type="submit"] {
	width: 202px;
}

}


@media (min-width: 750px) { /* <----------------------- MIN-WIDTH 750px */

#profileContainer {
	padding-left: 3%;

}

#userMap {
	width: 474px;
	height: 370px;
	margin-left: 5px;
}



}


@media (min-width: 780px) { /* <----------------------- MIN-WIDTH 780px */

#profileContainer {
	padding-left: 3%;
	width: 40%;
	text-align: right;

}

#profileImg > img, #userInfo {
	margin-right: 7%;
}

#userMap {
	width: 500px;
	height: 400px;
	margin-left: 5px;
}

#map-Container {
	width: 54%;
}


}


@media (min-width: 850px) { /* <----------------------- MIN-WIDTH 850px */

#userMap {
	margin-left: 19px;
}

#profileImg > img, #userInfo {
	margin-right: 12%;
}


}



@media (min-width: 950px) { /* <----------------------- MIN-WIDTH 950px */

#userMap {
	margin-left: 17px;
	width: 530px;
	height: 390px;
}

#profileImg > img, #userInfo {
	margin-right: 20%;
}



}











