<html>
<head>
	<title>TRAVELERS</title>
	<link rel="stylesheet" type="text/css" href="/css/users/index.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF13D52tQ7DIimjcN7gRz1gkJTZElqPgw"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/userIndex.js"></script>
</head>
<body>

	<!-- nav bar -->
	<% include ../partials/navbar %>

	<div id="contentContainer">
	<h1>TRAVELERS</h1>

		<div class="imgContainer">
			<% for(var i = 0; i < users.length; i++) { %>
				<div class="userImgBox">
					<a href="/users/<%= users[i].id %>"><img class="userImg" src="<%= users[i].profileImg %>"></br>
					<%= users[i].username %></br>
					<span><%= users[i].trips.length %> TRIPS</span></a>
				</div>
			<% } %>
		</div>
	</div>


	<!-- footer partial -->
	<% include ../partials/footer %>





















