<html>
<head>
	<title>ALL USERS</title>
</head>
<body>
	<!-- nav bar -->
	<a href="/users/logout">Logout</a>
	<h1>ALL USERS</h1>
	<ul>
		<% for(var i = 0; i < users.length; i++) { %>
			<li>
				<a href="/users/<%= users[i].id %>"><%= users[i].username %></a>
				<%= users[i].profileImg %>
			</li>
		<% } %>
	</ul>
</body>
</html>