<html>
<head>
	<title>ADD</title>
	<link rel="stylesheet" type="text/css" href="/css/trips/new.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF13D52tQ7DIimjcN7gRz1gkJTZElqPgw"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/new.js"></script>
</head>
<body>
	<!-- nav bar -->
	<!-- nav bar, with different links for this page -->
	<ul id="nav">
		<li><a href="/" class="navLi"><img id="logoImg" src="https://res.cloudinary.com/dmjtck2cd/image/upload/v1456330609/destinations/logoBlack.png"></a></li>
		<li><a href="/users" class="navLi">TRAVELERS</a></li>
		<li><a href="/trips" class="navLi">TRIPS</a></li>
		<li><a href="/users" class="navLi">PROFILE</a></li>
		<li><a href="/users/logout" class="navLi">LOGOUT</a></li>
	</ul>

	<form action="/users/<%= users.id %>/trips" method="POST">
		<input type="text" name="destination" placeholder="NEW DESTINATION"></br></br>
		<input type="text" name="tripImg" placeholder="TRIP IMAGE URL"></br></br>
		<input type="text" name="lat" placeholder="LATITUDE"></br></br>
		<input type="text" name="lng" placeholder="LONGITUDE"></br></br>
		<textarea name="packing_list" placeholder="RECOMMENDED PACKING LIST"></textarea></br></br>
		<span>TRIP DATES</span></br>
		<div id="dates">
			<input class="dateInput" type="text" name="date_start" placeholder="FROM">
			<input class="dateInput" type="text" name="date_finish" placeholder="TO">
		</div></br></br>
		<textarea name="itinerary" placeholder="ITINERARY"></textarea></br></br>
		<textarea name="different" placeholder="WHAT WOULD YOU DO DIFFERENTLY?"></textarea></br></br>
		<input type="text" name="trip_rating" placeholder="TRIP RATING: 1 (WILL NEVER VISIT AGAIN) - 5 (BEST TRIP EVER)"></br></br>
		<input type="hidden" name="user_id" value="<%= users.id %>">
		<input type="Submit" value="ADD TRIP">
	</form>

<!-- footer partial -->
<% include ../partials/footer %>









