<html>
<head>
	<title>NEW TRIPS</title>
</head>
<body>
	<!-- nav bar -->
	<h1>NEW TRIP works!</h1>
	<form action="/users/<%= users.id %>/trips" method="POST">
		<input type="text" name="destination" placeholder="Destination"></br></br>
		<input type="text" name="tripImg" placeholder="Trip Image URL"></br></br>
		<textarea name="packing_list" placeholder="Recommended Packing List"></textarea></br></br>
		<input type="date" name="date_start"></br></br>
		<input type="date" name="date_finish"></br></br>
		<textarea name="itinerary" placeholder="Description/Itinerary"></textarea></br></br>
		<input type="text" name="trip_rating" placeholder="Trip Rating"></br></br>
		<input type="hidden" name="user_id" value="<%= users.id %>">
		<input type="Submit">
	</form>
</body>
</html>